body{
    color:#333;
    text-align: center;
    font-family: "Arial";
    margin: 0;
    padding: 0;
}
.container{
    width: 70%;
    padding: 1em;
    text-align:left;
    border: 1px solid #DDD;
    padding: 0 auto;
    margin-left: 300px;
}
.cabecera{
    color: #fff;
    background-color: blue;
    padding: 10px;
    margin: 0;
}
